body {
    margin: 20px;
  }
  
  .calculator {
    background-color: rgb(74, 116, 232);
    height: 385px;
    width: 400px;
    display: block;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  
  input {
    position: relative;
    margin-top: 20px;
    background-color: rgb(213, 245, 230);
    height: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 3px;
    color: black;
    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    font-family: 'Consolas', monospace;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
  }
  
  .buttons {
    display: inline-block;
    margin: 0px 20px 20px 30px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
  }
  
  button {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(4, 30, 82);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
    margin: 8px 8px 8px 8px;
  }
  
  button:hover {
    background-color: white;
    transition: 0.7s;
    color: rgb(4, 30, 82);
    cursor: pointer;
  }
  
  input:hover {
    cursor: pointer;
  }
  